__pycache__/
templates/
**/migrations/
.idea/
db.sqlite3
templates/requirements.txt
docker-compose.yml
dockerfile
.env
todo
configuration/
choreo/services/selector.py
Database_origin.csv
migrations
.docker/
*.txt
private.key
ca_bundle.crt
certificate.crt
**/todo.md
**/*.sql
mysql-dockerfile
**/processor/
**/v.py